
:root{
    --cafe: #AD3A03;
    --celeste: #07FAE6;
    --naranjo: #FF6A21;
    --celeste2: #00AD9F;
    --blanco: #ffffff;
    --negro: #212121;
}
h1{
text-align: center;
color: var(--cafe);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
}
span{

font-size: 15px;
}


nav {
    padding: auto;
}

.titulocarrusel{
    color:var(--blanco);
}
.textocarrusel{
    color:var(--blanco);
}
.redessociales{
    text-align: center;
}

/**NavBar**/

.barra {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-collapse{
        flex-grow: 0 !important;
    }
.navbar .container-fluid {
        justify-content: space-around !important;
    }



.barra.productos {
    background-color: var(--celeste2);
}

.navegacion a {
    display: inline-block;
    color: azure;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    transition: border-bottom .5s ease-in-out;
}

.navegacion a:after {
    display: block;
    content: '';
    border-bottom: solid 3px azure;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.navegacion a:hover::after {
    transform: scaleX(1);
}

.barra a img {
    margin: 10px;
    height: 40px;
}
/**footer**/

.site-footer {
    background-color: var(--negro);
    padding: 0
}

.site-footer p {
    color: #ffffff;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

p.copyright {
    background-color: #2e2e2e;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.rrss-footer a {
    color: #ffffff;
    font-size: 40px;
    margin-right: 50px;
}

.rrss-footer a:last-child {
    margin-right: 0;
}

.logo-footer {
    height: 250px;
}

.logo-footer img {
    height: 120px;
}


/** formulario **/



.registro {
    height: 800px;
}

.form-registro {
    margin: 50px auto;
    width: 80%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.banner-form {
    background-color: #008AC9;
    text-align: center;
    border-radius: 40px;
}

.banner-form i {
    margin: 30px;
    color: #ffffff;
    font-size: 200px;
}

.banner-form p {
    color: white;
    padding: 50px;
}

.banner-form h1 {
    color: #F2F4F3;
    font-size: 40px;
    padding: 20px 0;
}

.campo {
    margin-top: 30px;
}

.campo label {
    font-size: 16px;
}

.form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #ddd;
    color: rgb(15, 3, 3);
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.form-control::placeholder {
    color: #4ac3f3;
}

.form-control:focus {
    border-bottom-color: #06ADF1;
}

.campo [type="date"] {
    width: 92%;
}

.campo-auto {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #008AC9;
}

input:focus+.slider {
    box-shadow: 0 0 1px #008AC9;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/**fin**/

.campo-sexo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px auto;
}

input,
input[type="radio"]+label,
select option,
select {
    padding: 1em;
    line-height: 1.4;
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    -webkit-transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
    transition: 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

input:focus {
    outline: 0;
    border-color: #008AC9;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"]:checked+label,
input:checked+label:before,
select:focus,
select:active {
    background-color: #008AC9;
    color: #fff;
    border-color: #008AC9;
}

.formulario .button {
    float: right;
    margin-top: 30px;
    width: 50%;
}



.contenido-banner {
    height: 100vh;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    grid-auto-rows: 200px;
}

.img {
    align-self: start;
    margin-top: 200px;
    width: 120%;
}

.banner {
    align-self: stretch;
    color: #ffffff;
    padding: 200px 100px;
    text-align: center;
}

.banner h1 {
    text-transform: capitalize;
    font-size: 40px;
    padding: 20px;
}

.banner p {
    font-size: 16px;
    padding: 0 30px;
}

.button {
    padding: 10px 40px;
    color: #06ADF1;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    font-size: 1em;
    margin-top: 20px;
    display: inline-block;
    transition: all .3s ease;
    border: 3px solid #06ADF1;
    border-radius: 30px;
}

.button:hover {
    color: white;
    background-color: #06ADF1;
}

.contenido {
    height: 600px;
    background-color: #008AC9;
}

.contenido-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: 0 auto;
}

.contenido-izq {
    color: #ffffff;
    padding: 100px;
}

.contenido-izq h2 {
    text-transform: capitalize;
    font-size: 40px;
    padding: 80px 0 20px 0;
}

.contenido-izq p {
    font-size: 16px;
}

.contenido-der {
    text-align: center;
    padding-top: 200px;
}

.contenido-der iframe {
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.2);
}

.seccion-productos {
    height: 150vh;
    text-align: center;
}

.seccion-productos h1 {
    margin-top: 50px;
    color: #008AC9;
    font-size: 50px;
}

.galeria {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    margin: 0 auto;
    grid-gap: 30px;
}

.galeria img {
    height: 300px;
}

.galeria h3 {
    color: #06ADF1;
    font-size: 25px;
}

.galeria p {
    margin: 10px 30px;
}

.producto {
    margin-top: 50px;
}

.precio {
    color: #06ADF1;
    font-size: 25px;
}

.registro {
    height: 800px;
}

.form-registro {
    margin: 50px auto;
    width: 80%;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.banner-form {
    background-color: #008AC9;
    text-align: center;
    border-radius: 40px;
}

.banner-form i {
    margin: 30px;
    color: #ffffff;
    font-size: 200px;
}

.banner-form p {
    color: white;
    padding: 50px;
}

.banner-form h1 {
    color: #F2F4F3;
    font-size: 40px;
    padding: 20px 0;
}

.campo {
    margin-top: 30px;
}

.campo label {
    font-size: 16px;
}

.form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #ddd;
    color: rgb(15, 3, 3);
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.form-control::placeholder {
    color: #4ac3f3;
}

.form-control:focus {
    border-bottom-color: #06ADF1;
}

.campo [type="date"] {
    width: 92%;
}

.campo-auto {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.viviendas-h2{
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--cafe);
    text-align: center;
    padding: 35px;  
}



.menucentrado{
    padding: 40px;
    text-align: center;
    grid-gap: 35px;
    
}
.custome-container{
    width: 100%;
    padding-right: 100px;
    padding-left: 150px;
  }