
:root{
    --cafe: #AD3A03;
    --celeste: #07FAE6;
    --naranjo: #FF6A21;
    --celeste2: #00AD9F;
    --blanco: #ffffff;
    --negro: #212121;
}
h1{
text-align: center;
color: var(--cafe);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  ;
}
span{

font-size: 15px;
}

nav {
    padding: auto;
}